<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links page-links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header">
  <%=  image_tag("covid-img.svg", alt: "screenshot of project", class: "covid-img img1 justify") %>
  <%=  image_tag("covid-M.svg", alt: "name of project", class: "covid-M img2 justify") %>
  <div class="details">
    <p>2020 (Present)</p>
    <p>UX/UI Design | Research software</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Simplifying the research process</h2>
    <p class="summary-text">designed an application for researchers that brings the time of digesting COVID-19 research from minutes to less than 30 seconds</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="https://covid-science-engine-prototype.herokuapp.com/">live open source application</a> currently being used by COVID-19 researchers in the field</p>
    <h3 class="role">Role</h3>
    <p>sole UI/UX designer, led front end development team for implementation. I built the style guide and UI library that was implemented in React</p>
    <p class="team">The team: two virologists, three front end developers, one backend developer, two machine learning data scientists and one designer (me).</p>
  </div>
</section>

<section class="final-design">
  <%=  image_tag("covid-mock.svg", alt: "mockup of project", class: "") %>
  <p>the final design</p>
</section>

<section class="problem">
  <h2>the problem ✍️</h2>
  <p>the core problem we are trying to solve is <span>reducing the time it takes for COVID-19 researchers to digest research papers </span>with human and machine intelligence, we are condensing large research papers into main key findings, methods, context and molecular targets. the design challenge is how to present this information in a way that’s quickly digestable.</p>
  <!-- <h2>design <br> process 👩‍💻💭</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p> -->
</section>
<section class="final-design prob">
 <%= image_tag("research.png") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;"><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
</section>
  <h2 class="decisions-text problem" style="margin-bottom: 20px; font-family: Proxima Nova Bold;">design <br> decisions 👩‍💻</h2>
<section class="decisions">
  <%= image_tag("covid-1.svg", class: "covid1") %>
  <div class="finding" style="align-self: center">
    <%= image_tag("marker-1.svg") %>
    <p>Researchers expressed the need for a clean UI that condenses dense amounts of information into a quickly scannable interface. I chose to include a toggle for less and more information to allow for scrolling of the page without the need to click through to understand the research more deeply. Aesthetics were largely sacrificed for usability and readability.</p>
  </div>
  <div class="finding2 finding" style="align-self: center">
    <%= image_tag("marker-2.svg") %>
    <p>We needed to create an admin interface to accept and reject research summaries. I designed this interface with the intention of reusing components from the public interface to save development time. I included large indicators of red and green to quickly show to the admin the state of each research paper. </p>
  </div>
  <%= image_tag("covid-2.svg", class: "covid2") %>
  <%= image_tag("covid-3.svg", class: "covid3") %>
  <div class="finding3 finding" style="align-self: center">
    <%= image_tag("marker-3.svg") %>
    <p>I took design references from Google, Wikipedia and ResearchGate to develop an interface that would be familiar and trusted by researchers. The colors, font, font size ratios, spacing and overall feel of the UI was influenced from these sources that researchers already use on a day to day basis.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("form.svg", alt: "mockup of form", class: "") %>
  <p>uploading a research article</p>
</section>
<section class="problem">
  <h2>what i've <br>learned 📚</h2>
  <p>I really enjoyed working with the team of developers on this project and I learned a lot from their different expertises to grow as a designer. Sebastian, a front end dev on the team, taught me a lot about accessibility and React. Mat, the backend developer, taught me a lot about thinking from a future perspective on dev decisions to scale the project. From also having a dev perspective, I was able to keep the design very lean and minimal and optimize for reusability.</p>
</section>
<section class="final-design">
  <%=  image_tag("style.svg", alt: "part of style guide", class: "") %>
</section>

