<header class="project-header">
  <%=  image_tag("covid-img.svg", alt: "screenshot of project", class: "covid-img img1 justify") %>
  <%=  image_tag("covid-M.svg", alt: "name of project", class: "covid-M img2 justify") %>
  <div class="details">
    <p>2020 (Present)</p>
    <p>UX/UI Design | Research software</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Simplifying the research process</h2>
    <p class="summary-text">designed an application for researchers that brings the time of digesting COVID-19 research from minutes to less than 30 seconds</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="https://covid-science-engine-prototype.herokuapp.com/">live open source application</a> currently being used by COVID-19 researchers in the field</p>
    <h3 class="role">Role</h3>
    <p>sole UI/UX designer, led front end development team for implementation. I built the style guide and UI library that was implemented in React</p>
    <p class="team">The team: two virologists, three front end developers, one backend developer, two machine learning data scientists and one designer (me).</p>
  </div>
</section>

<section class="final-design">
  <%=  image_tag("covid-mock.svg", alt: "mockup of project", class: "") %>
  <p>the final design</p>
</section>

<section class="problem">
  <h2>the problem</h2>
  <p>the core problem we are trying to solve is <span>reducing the time it takes for COVID-19 researchers to digest research papers </span>with human and machine intelligence, we are condensing large research papers into main key findings, methods, context and molecular targets. the design challenge is how to present this information in a way that’s quickly digestable.</p>
  <%= image_tag("theprob.png") %>
  <div class="finding" style="align-self: center">
    <%= image_tag("marker-b.png") %>
    <p><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
  </div>
  <h2>design process</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  <h2>design decisions</h2>
  <p></p>
    <%= image_tag("mock-1.svg") %>
  <div class="finding" style="align-self: center">
    <%= image_tag("marker-b.png") %>
    <p><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
  </div>
  <div class="finding" style="align-self: center">
    <%= image_tag("marker-b.png") %>
    <p><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
  </div>
  <%= image_tag("mock-1.svg") %>
  <%= image_tag("mock-1.svg") %>
  <div class="finding" style="align-self: center">
    <%= image_tag("marker-b.png") %>
    <p><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
  </div>
  <h2>what i've learned</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</section>


