<header class="project-header fancier">
  <%=  image_tag("fancier-img.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fancier-M.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Ecommerce Platform</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Designing a sustainable ecommerce experience</h2>
    <p class="summary-text">designed and shipped a social marketplace that creates a unique experience for shopping and selling pre-loved festival outfits </p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="http://www.getfancier.com/">live application</a>, only with test users. you can watch me pitch fancier to a live audience <a target=”_blank” href="https://www.youtube.com/watch?v=Opy7Ur7keEc&feature=youtu.be">here.</a></p>
    <h3 class="role">Role</h3>
    <p>sole UI designer, part of full stack development team during Le Wagon’s fullstack coding bootcamp</p>
    <p class="team">The team: four fullstack developers, including myself.</p>
  </div>
</section>

<section class="final-design">
  <%=  image_tag("f.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
<section class="problem">
  <h2>the problem ✍️</h2>
  <p>the core problem we are trying to solve is <span>reducing the time it takes for COVID-19 researchers to digest research papers </span>with human and machine intelligence, we are condensing large research papers into main key findings, methods, context and molecular targets. the design challenge is how to present this information in a way that’s quickly digestable.</p>
</section>

<section class="final-design prob">
 <%= image_tag("research-fancier.png") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;"><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
</section>

<section class="problem">
  <h2>design process 👩‍💻</h2>
  <p>the core problem we are trying to solve is <span>reducing the time it takes for COVID-19 researchers to digest research papers </span>with human and machine intelligence, we are condensing large research papers into main key findings, methods, context and molecular targets. the design challenge is how to present this information in a way that’s quickly digestable.</p>
</section>

<section class="final-design prob">
 <%= image_tag("fancier-screens.png") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;"><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
</section>



