<header class="project-header fancier">
  <%=  image_tag("fancier-img.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fancier-M.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Ecommerce Platform</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Designing a sustainable ecommerce experience</h2>
    <p class="summary-text">designed and shipped a social marketplace that creates a unique experience for shopping and selling pre-loved festival outfits </p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="http://www.getfancier.com/">live application</a>, only with test users. you can watch me pitch fancier to a live audience <a target=”_blank” href="https://www.youtube.com/watch?v=Opy7Ur7keEc&feature=youtu.be">here.</a></p>
    <h3 class="role">Role</h3>
    <p>sole UI designer, part of full stack development team during Le Wagon’s fullstack coding bootcamp</p>
    <p class="team">The team: four fullstack developers, including myself.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("f.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
<section class="problem">
  <h2>the problem ✍️</h2>
  <p>the core problem we are trying to solve is <span>unsustainablity of festival clothing in the European market </span>clothing is bought from fast fashion chains and often only worn once. it’s challenging for festival goers to find something unique that is both at a reasonable price point and sustainable. the design challenge was to create a marketplace that would address this problem.</p>
</section>

<section class="final-design prob">
 <%= image_tag("fresearch.png") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">competitor analysis</p>
</section>

<section class="problem">
  <h2>design process 👩‍💻</h2>
  <p>the core problem we are trying to solve is <span>reducing the time it takes for COVID-19 researchers to digest research papers </span>with human and machine intelligence, we are condensing large research papers into main key findings, methods, context and molecular targets. the design challenge is how to present this information in a way that’s quickly digestable.</p>
</section>

<section class="final-design prob fancier-final">
 <%= image_tag("fmocks.png") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">earlier design explorations</p>
</section>

<h2 class="decisions-text problem" style="margin-bottom: 20px; font-family: Proxima Nova Bold;">design <br> decisions 👩‍💻</h2>
<section class="decisions">
  <%= image_tag("fmocks-1.png", class: "covid1") %>
  <div class="finding" style="align-self: center">
    <%= image_tag("fmarker1.svg") %>
    <p><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
  </div>
  <div class="finding2 finding" style="align-self: center">
    <%= image_tag("fmarker2.svg") %>
    <p><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
  </div>
  <%= image_tag("fmocks-2.png", class: "covid2") %>
  <%= image_tag("fmocks-3.png", class: "covid3") %>
  <div class="finding3 finding" style="align-self: center">
    <%= image_tag("fmarker3.svg") %>
    <p><span>Primary research finding from COVID-19 researchers:</span> the time allotted to digest one paper is 10+ minutes while key information needed is the article’s title, key findings, who/where, targets, context, models and methods (modelling, sequence, simulation, calculation). Time to digest this information and to conduct R&D would be reduced dramatically if this information was summarized at the beginning of the paper.</p>
  </div>
</section>
<section class="problem">
  <h2>what i've <br>learned 📚</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</section>
<h2 class="decisions-text problem" style="margin-bottom: 20px; font-family: Proxima Nova Bold;">other design + development work</h2>



