<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links page-links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header fancier">
  <%=  image_tag("xfancier2.png", alt: "screenshot of project", class: "fancier-img1 img1 justify") %>
  <%=  image_tag("fanciers.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Ecommerce Platform</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Designing a sustainable ecommerce experience</h2>
    <p class="summary-text">designed and shipped a social marketplace that creates a unique experience for shopping and selling pre-loved festival outfits </p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="http://www.getfancier.com/">live application</a>, only with test users. you can watch me pitch fancier to a live audience <a target=”_blank” href="https://www.youtube.com/watch?v=Opy7Ur7keEc&feature=youtu.be">here.</a></p>
    <h3 class="role">Role</h3>
    <p>sole UI designer, part of full stack development team during Le Wagon’s fullstack coding bootcamp</p>
    <p class="team">The team: four fullstack developers: Laura Aunion, Katy Link, Kendrikc Rambal and myself</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("f.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
<section class="problem">
  <h2>the problem ✍️</h2>
  <p>The core problem we are trying to solve is <span>unsustainability of festival clothing in the European market </span>clothing is bought from fast fashion chains and often only worn once. It’s challenging for festival goers to find something unique that is both at a reasonable price point and sustainable. The design challenge was to create a marketplace that would address this problem.</p>
</section>

<section class="final-design prob">
 <%= image_tag("fresearch.png") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">competitor analysis</p>
</section>

<section class="problem">
  <h2>design process 👩‍💻</h2>
  <p>As a team of four developers, we identified the core problem we wanted to tackle was unsustainability in fast fashion in regards to festival shopping. we first interviewed users who frequented festivals to understand their shopping behaviors. We researched into retail competitors in the festival market and explored potential solutions for a sustainable alternative. In the European sustainable fashion landscape, we found that there were only high end options or resellers with a large generic offering. we wanted to be low cost alternative that met the unique demand of festival shoppers. we sketched out the first versions of fancier, which we tested on our target market. After getting feedback I created wireframes which I soon converted into high fidelity prototypes that our team developed into the functioning MVP.</p>
</section>

<section class="final-design prob fancier-final">
 <%= image_tag("fmocks.png") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">earlier design explorations. we ultimately choose to shift to a darker color scheme because of accessibility concerns and we felt the initial sahara desert inspired colors didn't match the trust and sense of confidence we wanted to build with our initial users</p>
</section>

<h2 class="decisions-text problem" style="margin-bottom: 20px; font-family: Proxima Nova Bold;">design <br> decisions 👩‍💻</h2>
<section class="problem">
  <%= image_tag("fmocks-1.png", class: "covid1") %>
  <div class="f-finding" style="align-self: center">
    <%= image_tag("fmarker1.svg") %>
    <p>We understood that sellers are frustrated because often in the sales funnel, customers are led away from their completing the purchse for competing offers. This also leads to a more chaotic user experience and the feeling of an endless marketplace which we wanted to avoid. We debated many possibilities but this is why we chose to include discoverability under posts but only of other articles by the seller to further create a seller centric experience on fancier.</p>
  </div>
  <div class="f-finding" style="align-self: center">
    <%= image_tag("fmarker2.svg") %>
    <p>We chose to include a fixed filter to continue adding filter options during the scroll to further personalize the experience. Development wise, it was fairly complicated to implement the filters that I initially designed which was a learning experience to stay lean with UI.</p>
  </div>
  <%= image_tag("fmocks-2.png", class: "covid2") %>
  <%= image_tag("fmocks-3.png", class: "covid3") %>
  <div class="f-finding" style="align-self: center">
    <%= image_tag("fmarker3.svg") %>
    <p>We decided to model user profiles off of an instagram social media type UI because we wanted the experience to be community driven where people use fancier as not only to shopping destination but as a source of inspiration and ultimately build their profiles as a sense of identity.</p>
  </div>
</section>
<section class="problem">
  <h2>what i've <br>learned 📚</h2>
  <p><span>When you’re developing everything as well, you truly have a different hat on than when you’re only the designer. </span> when i designed a screen i also had in the forefront of my mind roughly how long it would take to develop, where the data was coming from and how that would impact the design, what was the “quick and dirty way” to implement and what was the better way. This mindset is one I keep always as a designer and why I’m passionate that designers should know enough code to be dangerous. If not, it's easy to fall into the trap of designing features with no regard of time to develop. During this project, I learned to create many, many iterations of my designs based on feedback and possibilities. I learned how to compromise aesthetics for functionality and time to develop at times such as the clothing filters that weren't the ideal UI but were much quicker to develop as dropdowns. I also learned to keep all different states in mind when I design.</p>
</section>
<h2 class="decisions-text problem" style="margin-bottom: 20px; font-family: Proxima Nova Bold;">other design + development work</h2>
<!-- <p class="">see my <a target=”_blank” href="https://github.com/meghanmartin995">github</a> for all dev work</p> -->
<!--   <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "imagesLoaded":true, "lazyLoad": true, "autoPlay": true}'>
    <div class="carousel-cell">
      <%#= image_tag("altura.gif", class: "") %>
    </div>

  </div> -->

<section class="final-design">
  <%=  image_tag("figma.gif", alt: "mockup of project", class: "") %>
  <p style="width: 50%; margin: 30px auto 0 auto; max-width: 1100px;">another design + dev project I have worked on is using the Figma API to create a living website of my style guide that updates whenever I change the Figma file or add additional frames</p>
</section>

<section class="final-design">
  <%=  image_tag("altura.gif", alt: "mockup of project", class: "") %>
  <p style="width: 50%; margin: 30px auto 0 auto; max-width: 1100px;">during Le Wagon bootcamp in a few day sprint I also designed and developed with a team of four Altura, a marketplace to rent private jets</p>
</section>

<!-- <section class="final-design">
  <%#=  image_tag("stock.gif", alt: "mockup of project", class: "") %>
  <p style="width: 50%; margin: 30px auto 0 auto; max-width: 1100px;">a dashboard to monitor stocks</p>
</section> -->

<footer class="project-footer">
  <%= link_to("previous project", covid_path) %>
  <a href="javascript:window.scrollTo(0,0);" style="cursor: pointer; text-decoration: none;" id="myBtn" title="Go to top">back to top</a>
  <%= link_to("next project", fonts_path) %>
</footer>





