<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links page-links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header fonts">
  <%=  image_tag("fitwmock.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fitw.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Design Resource</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Built a resource for the design community</h2>
    <p class="summary-text">designed and shipped a design resource to find both free and paid font inspiration for your next project</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="http://www.fontsinthewild.com/">live website</a>, with real users. currently designing + coding features such as filtering and sorting fonts for specific use cases and categories</p>
    <h3 class="role">Role</h3>
    <p>sole UI designer and fullstack developer. During quarantine I wanted to build a resource to give back to the design community and saw the gap in the market
    + challenge to find quality, open source fonts</p>
    <p class="team">This was a self initiated project.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("fitw.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
<section class="problem">
  <h2>the problem ✍️</h2>
  <p>the core problem i am trying to solve with <a target=”_blank” style="text-decoration: underline;" href="http://www.fontsinthewild.com/">fonts in the wild </a>is the challenge of finding quality, free fonts. i spoke with many designers and developers who struggle to find free type inspiration. current resources, such as Typewolf focus on expensive fonts with no option to filter through accessible options.</p>
</section>
<section class="final-design">
  <%=  image_tag("prob.jpg", alt: "problem landscape", class: "") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;"><span style="font-weight: bold;">the problem landscape:</span> the primary insight from research & interviews is the challenge to find quality, open source fonts for commercial and personal work</p>
</section>
