<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links page-links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header fonts">
  <%=  image_tag("fitwmock.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fitwmarks.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Design Resource</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Built a resource for the design community</h2>
    <p class="summary-text">designed and shipped a design resource to find both free and paid font inspiration for your next project. see the Product Hunt launch <a target=”_blank” href="https://www.producthunt.com/posts/fonts-in-the-wild">here</a></p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="http://www.fontsinthewild.com/">live website</a>, with real users. currently designing + coding features such as filtering and sorting fonts for specific use cases and categories</p>
    <h3 class="role">Role</h3>
    <p>sole UI designer and fullstack developer. During quarantine I wanted to build a resource to give back to the design community and saw the gap in the market
    + challenge to find quality, open source fonts</p>
    <p class="team">This was a self initiated project.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("fitw.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
<section class="problem">
  <h2>the problem ✍️</h2>
  <p>The core problem I am trying to solve with <a target=”_blank” style="text-decoration: underline;" href="http://www.fontsinthewild.com/">fonts in the wild </a>is the challenge of finding quality, free fonts. I spoke with many designers and developers who struggle to find free type inspiration. Current resources, such as Typewolf focus on expensive fonts with no option to filter through accessible options.</p>
</section>
<section class="final-design">
  <%=  image_tag("prob.jpg", alt: "problem landscape", class: "") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;"><span style="font-weight: bold;">the problem landscape:</span> the primary insight from research & interviews is the challenge to find quality, open source fonts for commercial and personal work</p>
</section>
  <h2 class="decisions-text problem" style="margin-bottom: 20px; font-family: Proxima Nova Bold;">design <br> decisions 👩‍💻</h2>
<section class="decisions">
  <%= image_tag("fitwmm.jpg", class: "covid1") %>
  <div class="finding" style="align-self: center">
    <%= image_tag("marker-1.svg") %>
    <p>The filter options clearly demonstrate the value proposition of finding quality, open source fonts for both commercial and personal design work. I chose to create a Pinterest like feed with rounded playful corners and infinite scroll to encourage browsing for inspiration, keeping the frame narrow to maximize scannability. I added links to the websites on the home to minimize the amount of clicks to view the original design.</p>
  </div>
  <div class="finding2 finding" style="align-self: center">
    <%= image_tag("fitwmark.svg") %>
    <p>I chose to include a "you might also like" algorithm to quickly find similar font inspiration. I also chose to show the details of the post in a modal to quickly click left and right through modals and click out to continue scrolling.</p>
  </div>
  <%= image_tag("modal.jpg", class: "covid2") %>
</section>
<section class="problem">
  <h2>what i've <br>learned 📚</h2>
  <p>I've learned that the communication and launch of a product is more important than the design and code of it. I am continously learning how to best promote fonts in the wild through different channels. I've also learned to keep things simple at first and launch the most minimal version of the product and iterate on feedback. I've also learned to design with the constraints of what I can develop but also to design without those limitations to push myself and grow beyond my current skillset.</p>
</section>

<footer class="project-footer">
  <%= link_to("previous project", fancier_path) %>
  <a href="javascript:window.scrollTo(0,0);" style="cursor: pointer; text-decoration: none;" id="myBtn" title="Go to top">back to top</a>
  <%= link_to("next project", freelance_path) %>
</footer>
