<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header freelance">
  <%=  image_tag("losarabis-lg.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("freelance.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Front end development</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Redesigning an outdated online store for a winery</h2>
    <p class="summary-text">redesigned multiple websites for freelance clients including an online wine store for Los Arabis Vineyards which I highlight here</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p>live websites for freelance clients: <a target=”_blank” href="https://losarabisvineyards.com/">an online store</a>, <i>(highlighted here)</i><a target=”_blank” href="http://www.lamalpensatina.com/"> vacation property rental website</a>, <a target=”_blank” href="http://www.martinfamilyfound.com/"> non profit landing page</a> </p>
    <h3 class="role">Role</h3>
    <p>UI designer and front end developer; custom Shopify development</p>
    <p class="team">These are freelance projects for clients.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("losarabis.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
