<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links page-links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header freelance">
  <%=  image_tag("losarabis-l.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("freelance.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Front end development</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Redesigning an outdated online store for a winery</h2>
    <p class="summary-text">redesigned multiple websites for freelance clients including an online wine store for Los Arabis Vineyards which I highlight here</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p>live websites for freelance clients: <a target=”_blank” href="https://losarabisvineyards.com/">an online store</a>, <i>(highlighted here)</i>, <a target=”_blank” href="http://www.lamalpensatina.com/">a vacation property rental website</a>, <a target=”_blank” href="http://www.martinfamilyfound.com/"> a non profit landing page</a> </p>
    <h3 class="role">Role</h3>
    <p>UI designer and front end developer; custom Shopify development</p>
    <p class="team">These are freelance projects for clients.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("losarabis.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
<section class="problem">
  <h2>the challenge ✍️</h2>
  <p>For this client, their current online store was not functioning at the payment stage and she needed a redesign of her website. Her website had beenc created over a decade ago and she couldn't edit any products and customers couldn't finish the buying process. I researched the variety of solutions and we decided on the optimal solution technology wise taking into account the budget, timeframe, advantages and disadvantages. </p>
</section>

<section class="final-design">
  <%=  image_tag("lamood.jpg", alt: "mockup of project", class: "") %>
  <p>website moodboard</p>
</section>

<section class="problem">
  <h2>design process 👩‍💻</h2>
  <p>My process for freelance clients begins with a discovery meeting to deeply understand their business needs and current situation. Once we choose a direction, I scope the project and sent for her approval. To start the design I work back and forth with the client to audit their brand and create a moodboard of the feel of the website. Next, we go through websites on the market to understand their design preferences and build a common design language. Next I create a style guide for the website with colors, fonts and snippets of the future UI. Once this is approved, I create three mockup options and let the client choose the direction. From here, I move into final prototypes and ultimately the development phase. In this case, I created a custom Shopify store, but development varies case by case.</p>
</section>

<section class="final-design">
  <%=  image_tag("mockupsla.jpg", alt: "mockup of project", class: "") %>
  <p>three final mockup options</p>
</section>

<section class="problem">
  <h2>what i've <br>learned 📚</h2>
  <p>The biggest lesson I've learned through freelance work is that deeply understanding and listening to business challenges is the priority over the design itself. Often a client needs a business partner in strategy, not just a designer. This client on their previous website couldn't use other payments methods outside of Paypal so understanding this pain and offering solutions to take many payment providers was a huge first win. </p>
</section>

<footer class="project-footer">
  <%= link_to("previous project", fonts_path) %>
  <a href="javascript:window.scrollTo(0,0);" style="cursor: pointer; text-decoration: none;" id="myBtn" title="Go to top">back to top</a>
  <%= link_to("next project", thirtydays_path) %>
</footer>
