<header class="home-header">
  <%=  image_tag("") %>
  <ul class="links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>
  <section class="bio">
    <div class="profile-img">
      <%=  image_tag("profile.png", alt: "photo of me", class: "animate__animated") %>
      <a data-toggle="collapse" href="#collapseExample" class="animate__animated"><i  class="fas fa-plus animate__animated"></i></a>
    </div>
    <h1 class="animate__animated">Meghan Martin</h1>
    <p class="animate__animated">Product designer and creative developer. UC Berkeley grad. <br> MA Design Strategy. I make great things on the internet.</p>
    <p class="collapse extended" id="collapseExample">I'm passionate about the startup scene, technology of the future and creative work the world needs. I'm constantly designing and coding projects & ideas, both freelance and self initiated. I'm currently learning GSAP, SVG and 3D animation. My ideal role would be focused on product design with some front end coding responsibilities as well.</p>
  </section>


    <div class="collapse buttons" id="collapseExample">
      <p class="following animate__animated animate__fadeIn animate__slow">following</p>
      <p data-toggle="modal" data-target="#exampleModal" class="animate__animated animate__fadeIn animate__slow" style="cursor: pointer">send message</p>
    </div>

<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send me a message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <%= simple_form_for(@message) do |f| %>
                  <%= f.input :note, label: false, input_html: { autocomplete: 'off' }, class: ""%>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <%= f.button :submit, 'Submit' %>
                <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="images">
      <div class="image">
        <%=  image_tag("mylifestory.png", alt: "my life story", id: "dynamic")%>
        <p class="dev">my life</p>
      </div>
<!--       <div class="image">
        <%#=  image_tag("", alt: "dev work") %>
        <p>dev work</p>
      </div> -->
      <div class="image">
        <%=  image_tag("uistory.png", alt: "ui story", id: "dynamic2") %>
        <p>ui + dev work</p>
      </div>
    </div>
  <div class="content-container">
    <section class="image-grid">
      <%#= link_to covid_path do %>
      <div class="project-home">
        <%=  image_tag("covid-med.jpg", alt: "covid project") %>
        <div class="project-text">
          <h2 class="description">Covid Science Engine</h2>
          <p class="description">Designed an application for COVID-19 researchers</p>
          <div class="description like">
            <object type="owo/uwu">
              <a class="heart" id="link-post-<%= Post.first.id %>"><%= render 'posts/like_link', post: Post.first, voter: @voter %></a>
            </object>
            <h3 id="post-<%= Post.first.id %>"><%= render 'posts/likes', post: Post.first, voter: @voter %></h3>
          </div>
        </div>
      </div>
      <%# end %>
      <%#= link_to fancier_path do %>
        <div class="project-home">
          <%=  image_tag("fancier-med.jpg", alt: "fancier project") %>
          <div class="project-text">
            <h2 class="description">Fancier</h2>
            <p class="description">Designed a social marketplace for festival shopping</p>
            <div class="description like">
              <object type="owo/uwu">
                <a class="heart" id="link-post-<%= Post.second.id %>"><%= render 'posts/like_link', post: Post.second, voter: @voter %></a>
              </object>
            <h3 id="post-<%= Post.second.id %>"><%= render 'posts/likes', post: Post.second, voter: @voter %></h3>
            </div>
          </div>
        </div>
      <%# end %>
    <%#= link_to fonts_path do %>
      <div class="project-home">
        <%=  image_tag("covid-med.jpg", alt: "fonts project") %>
        <div class="project-text">
          <h2 class="description">Fonts in the Wild</h2>
          <p class="description">Designed and built a design resource for searching fonts in context</p>
          <div class="description like">
            <object type="owo/uwu">
              <a class="heart" id="link-post-<%= Post.third.id %>"><%= render 'posts/like_link', post: Post.third, voter: @voter %></a>
            </object>
            <h3 id="post-<%= Post.third.id %>"><%= render 'posts/likes', post: Post.third, voter: @voter %></h3>
          </div>
        </div>
      </div>
    <%# end %>
    <%#= link_to freelance_path do %>
      <div class="project-home">
        <%=  image_tag("la1.png", alt: "freelance projects") %>
        <div class="project-text">
          <h2 class="description">Freelance work</h2>
          <p class="description">Redesigned an outdated ecommerce website</p>
          <div class="description like">
            <object type="owo/uwu">
              <a class="heart" id="link-post-<%= Post.fourth.id %>"> <%= render 'posts/like_link', post: Post.fourth, voter: @voter %></a>
            </object>
            <h3 id="post-<%= Post.fourth.id %>"><%= render 'posts/likes', post: Post.fourth, voter: @voter %></h3>
          </div>
        </div>
      </div>
    <%# end %>
    <%#= link_to thirtydays_path do %>
      <div class="project-home">
        <%=  image_tag("covid-med.jpg", alt: "30 days of websites projects") %>
        <div class="project-text">
          <h2 class="description">30 days of websites</h2>
          <p class="description">Designed 30 experimental websites in 30 days</p>
          <div class="description like">
            <object type="owo/uwu">
              <a class="heart" id="link-post-<%= Post.fifth.id %>"> <%= render 'posts/like_link', post: Post.fifth, voter: @voter %></a>
            </object>
            <h3 id="post-<%= Post.fifth.id %>"><%= render 'posts/likes', post: Post.fifth, voter: @voter %></h3>
          </div>
        </div>
      </div>
    <%# end %>
    <%#= link_to replastic_path do %>
      <div class="project-home">
        <%=  image_tag("replastic.png", alt: "design strategy projects") %>
        <div class="project-text">
          <h2 class="description">Design Strategy</h2>
          <p class="description">Designed a manual to upcycle plastic in the Amazon</p>
          <div class="description like">
            <object type="owo/uwu">
              <a class="heart" id="link-post-<%= Post.last.id %>"><%= render 'posts/like_link', post: Post.last, voter: @voter %></a>
            </object>
             <h3 id="post-<%= Post.last.id %>"><%= render 'posts/likes', post: Post.last, voter: @voter %></h3>
          </div>
        </div>
      </div>
    <%# end %>
    </section>

    <footer>
      <p>follow me on <a target=”_blank” href="https://twitter.com/meghanxmartin">twitter</a> for hot takes</p>
      <p>download my <a href="">resume</a></p>
      <p>meghanxmartin@gmail.com</p>
      <div class="toggle-container">
        <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
      </div>
    </footer>
  </div>

<%= javascript_pack_tag 'home' %>
<%= javascript_pack_tag 'toggle' %>
