<header>
  <%=  image_tag("") %>

  <ul class="links">
    <li> <i class="fab fa-linkedin-in"></i></li>
    <li> <i class="fab fa-twitter"></i> </li>
    <li> <i class="fab fa-github"></i> </li>
    <li> <i class="fab fa-dribbble"></i> </li>
  </ul>
</header>

<section>
  <%=  image_tag("") %>
  <h1>Meghan Martin</h1>
  <p>UI designer. Creative developer. UC Berkeley grad.
  MA Design Strategy. I make great things on the internet.</p>
</section>

  <div class="images">
    <div class="image1">
      <%=  image_tag("") %>
      <p>UI work</p>
    </div>
    <div class="image2">
      <%=  image_tag("") %>
      <p>dev work</p>
    </div>
    <div class="image3">
      <%=  image_tag("") %>
      <p>my life</p>
    </div>
  </div>

<section class="image-grid">
  <%=  image_tag("") %>
  <%=  image_tag("") %>
  <%=  image_tag("") %>
  <%=  image_tag("") %>
  <%=  image_tag("") %>
  <%=  image_tag("") %>
</section>

<footer>
  <p>follow me on <a href="">twitter</a> for hot takes</p>
  <p>download my <a href="">resume</a></p>
  <p>meghanxmartin@gmail.com</p>
</footer>
