<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links page-links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header replastic">
  <%=  image_tag("replasticc1.jpg", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("replastic2.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>Design Strategy | Masters Work</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Reducing plastic waste in the Amazon with design</h2>
    <p class="summary-text">designed a <a style="text-decoration: underline;" target=”_blank” href="https://3eeed6f4-f802-4461-9042-b0fbb17c7fc3.filesusr.com/ugd/0ec7ce_e36950ef1d5f434a9842db913aea108a.pdf">manual</a>  for indigenous Amazonian communities to upcycle plastic water bottles into useful tools, toys and raw materials, including ceiling lights, joints, games and jewelry</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p>three month project; two weeks field research with indigenous communities. our <a target=”_blank” href="https://3eeed6f4-f802-4461-9042-b0fbb17c7fc3.filesusr.com/ugd/0ec7ce_e36950ef1d5f434a9842db913aea108a.pdf">manual</a> is currently being used by Amazonian nonprofits in sustainability workshops</p>
    <h3 class="role">Role</h3>
    <p>design strategy, research and implementation</p>
    <p class="team">Team: three designers (Emi Apolo, Manon Dupagne and I) in collaboration with our client, the Omacha Foundation and indigenous leaders in Puerto Nariño, Colombia</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("replastic.gif", alt: "mockup of project", class: "") %>
  <p>the final <a style="text-decoration: underline;" target=”_blank” href="https://3eeed6f4-f802-4461-9042-b0fbb17c7fc3.filesusr.com/ugd/0ec7ce_e36950ef1d5f434a9842db913aea108a.pdf">manual</a>, Replastic</p>
</section>

<section class="problem">
  <h2>the problem ✍️</h2>
  <p>My team immersed ourselves in the indigenous community of Puerto Nariño, Colombia in partnership with local organizations Omacha and Natutama Foundation. Our task was to create a sustainable, social project to improve the daily life of the community. While we were conducting field research, we discovered both the strong manual skill and practices of this remote Amazon community and in our visit to the landfill, my team and I identified issues with the large amount of plastic that was inundating the forest. We decided to tackle this issue, by creating Replastic, rethinking plastic as not trash, but instead your next creation.</p>
</section>

<!-- <section class="final-design prob">
 <%#= image_tag("r1.jpg") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">How can we reduce plastic waste in the Amazonas while benefiting the local indigenous communities?</p>
</section> -->

<section class="final-design prob">
 <%= image_tag("r2.jpg") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">We created Replastic after two weeks of living with the indigenous community and conducting field research. We spoke to many community leaders who asked us to create a book the children could use for workshops and to promote sustainability efforts.</p>
</section>

<section class="final-design prob">
 <%= image_tag("r3.jpg") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">We chose tools that are easily accessible by remote Amazonian communities.</p>
</section>

<section class="final-design prob">
 <%= image_tag("r4.jpg") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">The final product was a book of easy tutorials to re-use and upcycle plastic bottles to improve their daily life, categorized in four chapters: the home where you can turn a large clear bottle into a skylight through defraction, or toys to generate creativity and fun for the younger kids.</p>
</section>

<section class="final-design prob">
 <%= image_tag("r5.jpg") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">We published the book in two formats, in a classic book binding and as individual cards attached by a bold red elastic that the teachers and the foundation could easily distribute to a larger number of children in workshops or classrooms with a single book. Our team chose the visual language to be highly codified for clarity, actions are shown in red with sharp angular design, contrasted with round and friendly iconography. The large white spaces allow for taking notes in the margins and jotting down ideas.</p>
</section>

<section class="final-design prob">
 <%= image_tag("r6.jpg") %>
  <p style="width: 70%; margin: 30px auto 0 auto; max-width: 1100px;">Our purpose with Replastic is to empower local capacities, while reducing plastic waste in the river. Our books are currently being used by the nonprofits of Omacha and Natutama in Puerto Nariño, Colombia, an indigenous community in the middle of the jungle, for sustainability and craft workshops. Our ethos and movement behind RePlastic is rethinking that plastic isn't trash at all, it's your next creation.</p>
</section>

<footer class="project-footer">
  <%= link_to("previous project", thirtydays_path) %>
  <a href="javascript:window.scrollTo(0,0);" style="cursor: pointer; text-decoration: none;" id="myBtn" title="Go to top">back to top</a>
  <%= link_to("next project", covid_path) %>
</footer>
