<div class="logo-main">
  <%= link_to root_path do %>
      <%=  image_tag("logos.svg", class: "logo") %>
  <% end %>
</div>
<header class="project-header fancier">
  <%=  image_tag("fancier-img.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fancier-M.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>Design Strategy | Masters Work</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Reducing plastic waste in the Amazon with design</h2>
    <p class="summary-text">designed a manual for indigenous Amazonian communities to upcycle plastic water bottles into useful tools, toys and raw materials, including ceiling lights, joints, games and jewelry</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p>three month project; two weeks field research with indigenous communities. our <a target=”_blank” href="https://3eeed6f4-f802-4461-9042-b0fbb17c7fc3.filesusr.com/ugd/0ec7ce_e36950ef1d5f434a9842db913aea108a.pdf">manual</a> is currently being used by Amazonian nonprofits in sustainability workshops</p>
    <h3 class="role">Role</h3>
    <p>design strategy, research and implementation</p>
    <p class="team">Team: three designers (Emi, Manon and I) in collaboration with our client, the Omacha Foundation and indigenous leaders in Puerto Narino, Colombia</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("", alt: "mockup of project", class: "") %>
  <p>the final manual, Replastic</p>
</section>
