<header class="home-header project-head">
  <%= link_to root_path do %>
    <%=  image_tag("logo1.png", class: "logo") %>
  <% end %>
  <ul class="links page-links">
    <li> <a target=”_blank” href="https://www.linkedin.com/in/meghanxmartin/"><i aria-label="linkedin" class="fab fa-linkedin-in"></i></a> </li>
    <li> <a target=”_blank” href="https://twitter.com/meghanxmartin"><i aria-label="twitter" class="fab fa-twitter"></i></a> </li>
    <li> <a target=”_blank” href="https://github.com/meghanmartin995"><i aria-label="github" class="fab fa-github"></i></a> </li>
    <li> <a target=”_blank” href="https://dribbble.com/ziganka"><i aria-label="dribbble" class="fab fa-dribbble"></i></a> </li>
  </ul>
</header>

<header class="project-header days thirty-header">
  <%=  image_tag("30web.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("30days.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <!-- <h2 class="clear">clear</h2> -->
    <p>2020</p>
    <p>UI Design | Creative Development</p>
    <%#=  video_tag("vid.mp4", controls: true, preload: 'none')%>
  </div>
</header>
<section class="thirty-body" id="thirty-days">

<section class="project-content">
  <div class="summary">
    <h2>Personal challenge to create 30 websites in 30 days</h2>
    <p class="summary-text">technologies explored: WebGL (Three.js), Anime.js, Ruby on Rails, Stimulus.js, Matter.js, APIs/AJAX, SVG animations and GSAP. Some websites were a part of learnings from SuperHi courses covering technologies such as React.js, APIs and animation.</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p>live applications, experimental JS, conceptual experiments. fun fact: when I was creating these websites I was looking for a Dribbble invitation to post some of my work. I asked in a Slack community and the CEO of dribbble invited me 🏀</p>
    <h3 class="role">Role</h3>
    <p>UI designer + fullstack developer</p>
    <p class="team">These are self initiated projects or superhi projects (thank u superhi for saving my life during quarantine when I couldn't go outside for 90 days)</p>
  </div>
</section>
<section class="final-design">
  <p>click anywhere below to see the websites</p>
</section>
<section class="website-images">

</section>
</section>

<footer class="project-footer">
  <%= link_to("previous project", freelance_path) %>
  <a href="javascript:window.scrollTo(0,0);" style="cursor: pointer; text-decoration: none;" id="myBtn" title="Go to top">back to top</a>
  <%= link_to("next project", replastic_path) %>
</footer>
